x-cec-config: &cec-config
  user: "${UID}:${GID}"
  restart: always

services:
  # Servicio de base de datos PostgreSQL
  db:
    build:
      context: ./backend/db  # Carpeta donde está el Dockerfile de la DB
    <<: *cec-config
    container_name: sicea-db
    restart: always
    environment:
      POSTGRES_DB: siceadb 
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin1234
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  # Servicio Backend (Django)
  backend:
    build:
      context: ./backend  # Carpeta donde está el Dockerfile del back
    <<: *cec-config
    container_name: sicea-backend
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - media_data:/app/storage
    environment:
      DB_HOST: db
      DB_NAME: siceadb
      DB_USER: admin
      DB_PASSWORD: admin1234
      DB_PORT: 5432

  # Servicio Frontend (React)
  frontend:
    build:
      context: ./frontend/sicea  # Carpeta donde está el Dockerfile del front
    <<: *cec-config
    container_name: sicea-frontend
    depends_on:
      - backend
    volumes:
      - ./frontend/sicea/dist:/usr/share/nginx/html

volumes:
  postgres_data: {}
  media_data: {}

